* {
    font-family:Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ccc;
    color: #222;
}

header, footer, div {
    width: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

header, footer {
    background-color: #8c1d40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

#grid-container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

nav {
    background-color: #ffc627;
}

nav ul {
    padding-left: 0px;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    background-color: #8c1d40;
    color: #fff;
    padding: 8px;
    text-align: center;
    margin: 24px 16px;
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: none;
}

nav a:hover {
    background-color: #fff;
    color: #8c1d40;
}

main {
    background-color: #fff;
    padding: 24px;
}

main a {
    background-color: #8c1d40;
    font-weight: bold;
}

main a:hover {
    padding: 4px;
    background-color: #222;
    color: #ccc;
}

p, q {
    color: #444;
}

q {
    font-style: italic;
}

span.year {
    background-color: #ffc627;
    font: 20px bold;
    color: #555;
    padding: 4px;
}

footer h2 {
    font-size: 24px;
    margin: 8px;
}

address {
    font: 16px bold normal;
}

footer a {
    display: inline-block;
    color: #fff;
    padding: 8px 16px 8px 8px;
    font-weight: normal;
}

footer a:hover {
    color: #ffc627;
}


